
.main{
max-width:1000px;
margin:auto;
}

.bt{
text-decoration:none;
font-size:30px;
padding-right:0px;
padding-left:80px;
padding-top:20px;
padding-bottom:20px;
border: none;
color:white;
}


.bt:hover{
color:#f8c25c;
}

.tourist{
margin-top:15px;
}

.card-deck{
display:flex;
margin-top:15px;
}


