{% extends 'kaz/main.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
       {% load static %} <img src="{% static 'kaz/images/kaztour.jpg' %}" class="card-img-top" alt="" style="width:505px; height:330px;" >
       <h1>KazTour <span class="badge badge-secondary">Туры по Казахстану</span></h1>


        <h3>Турфирма KazTour рада предложить вам отдых в Казахстане 2022. Узнать цены на путёвки в лучшие базы отдыха, пансионаты, санатории и отели в Казахстане  в 2022 году можно на нашем сайте. Так же вы можете воспользоваться услугой раннего бронирования путёвок и туров по Казахстану и получить скидку до 50% на отдых . Приходите к нам в гости: мы находимся по адресу улица Абая 44, Дворец спорта Б.Шолака, 2 этаж офис № 6 (карта) Или звоните по телефонам: 296-90-98 / +7 (707) 636 70 90 мы найдём для Вас лучшие цены на отдых в базах отдыха на Алаколе с выездом из Алматы. </h3>


{% endblock %}

,